@tailwind base;
@tailwind components;
@tailwind utilities;


.container {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
  width: 100%;
}

.container img {
  z-index: 1; /* Lower than the navbar */
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  width: 100vw;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between; /* Space out the links and logo */
  align-items: center; /* Center items vertically */
  background-color: #ffffff; /* White background color */
  padding: 20px 20px; /* Adjust padding for better spacing */
  z-index: 10;
  width: 100%; /* Ensure it covers full width */
  box-sizing: border-box; /* Include padding in the width calculation */
  position: fixed; /* Fix the navbar to the top */
  top: 0; /* Align to the top */
  left: 0; /* Align to the left */
  right: 0; /* Align to the right */
  height: 60px;
}

/* Container for links */
.navbar .links {
  display: flex;
  align-items: center; /* Center links vertically */
  
}

/* Links styling */
.navbar a {
  margin-left: 15px; /* Margin on the left of each link */
  text-decoration: none;
  color: #333;
  font-size: 15px;
  position: relative;
}

/* Underline effect for links */
.navbar a:not(.logo)::before {
  content: '';
  position: absolute;
  bottom: -5px; /* Positioning the underline */
  left: 0;
  width: 0;
  height: 1px; /* Slightly thicker underline for better visibility */
  background: black;
  transition: width 0.3s ease; /* Smooth transition */
}

.navbar a:not(.logo):hover::before {
  width: 100%;
}

/* Logo styling */
.navbar .logo {
  font-size: 30px;
  font-weight: 200;
  text-align: center;
  position: absolute;
  text-decoration: none;
  left: 50%;
  transform: translateX(-50%); /* Center the logo horizontally */
}

/* Hover effect for the logo */
.navbar .logo:hover {
  color: gray;
}

.main-content {
  margin-top: 60px; /* Adjust this value to match the height of your navbar */
  padding: 20px; /* Optional padding for your main content */
}